---
layout: "default"
title: Mystery Code Society | 2019-2020 Season
---

<section class="main">
  <h1>Mystery Code Society's 2019-2020 Season</h1>
  <section class="lead-statement">
    <p>
      Classroom computers are generously provided by our location sponsors.
      A home computer is not required to participate in these courses.
    </p>
  </section>

  <section class="class-container">
    <h2 class="class-title">
      <span><a href="/intro-to-javascript/">Intro To JavaScript</a></span>
      <img class="callout-icon" src="/assets/images/magnifying-glass.svg" alt="callout">
    </h2>


    <h3 class="class-desc">Introduction to Code, prerequisite to JavaScript Video Games</h3>
    <h4>location: DoSpace</h4>
    <p>
      Intro to JavaScript is a 6 week introductory coding class for students in 5th through 12th grade who are brand new to coding!
      In this course, students will learn the basics of coding in JavaScript: variables, functions, loops, conditionals, and callbacks.
    </p>

    <ul>
      <li>Sundays, 1-4 pm, October 6 - November 10</li>
    </ul>

  </section>

  <hr>

  <section class="class-container">
    <h2 class="class-title">
      <span><a href="/js-games/">Sugar Cubed: JavaScript Video Games Class</a></span>
      <img class="callout-icon" src="/assets/images/magnifying-glass.svg" alt="callout">
    </h2>
    <h3 class="class-desc">Build your own video game!</h3>
    <h4>location: DoSpace</h4>
    <p>
      JavaScript Video Games is a 12 week intermediate coding class for students in 5th through 12th grade who want to build video games in JavaScript.
      Students will learn to build six different video games <a href="https://arcade.makecode.com/70923-79824-29319-83117">like this one</a> and will have time to build and share games of their own!
    </p>
    <p>
      Intro to JavaScript (or equivalent) is a prerequisite to take this course.
    </p>

    <ul>
      <li>Sundays, 1-4 pm, January 12 - March 29</li>
    </ul>
    <div class="action">
      <h2 class="class-volunteer"><a class="button" target="_blank" href="mailto:hello@mysterycodesociety.com">Volunteer!</a></h2>
    </div>
  </section>

  <hr>

  <section class="class-container">
    <h2 class="class-title">
      <span><a href="/htmelle/">HTMelle</a></span>
      <img class="callout-icon" src="/assets/images/magnifying-glass.svg" alt="callout">
    </h2>
    <h3 class="class-desc">Build your own website!</h3>
    <h4>location: Abrahams Branch Public Library</h4>
    <p>
      HTMelle is an introductory six week course for students in 5th - 12th grade. Students will learn to build websites with HTML and CSS.
    </p>

    <ul>
      <li>Saturdays, 9:30am - 12:30pm, February 22nd - March 28th</li>
      <li>Applications are due by Friday, February 14.</li>
    </ul>
    <div class="action">
      <h2 class="class-apply"><a class="button" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScGMbsXo1g0DPHtc9TOfnVd1uN8g2inDSKSEr7MxadTWnkJGQ/viewform?usp=sf_link">Applications Open Now</a></h2>
    </div>
  </section>
</section>
