---
layout: "default"
title: Mystery Code Society | Sugar Cubed JS Games
---

<section class="main">
  <section class="course-items center-align">
    <h1>Sugar Cubed: JavaScript Games Class</h1>
    <h3 class="class-desc">Code Fundamentals in JavaScript: Prerequisite to JavaScript Video Games</h3>
    <h4><address>DoSpace, <a href="https://www.dospace.org/" target="_blank">Digital Library</a> meeting rooms</address></h4>
    <h4>Sundays, January 12 - March 29</h4>
    <h4>1:00 pm - 4:00 pm</h4>
    <p>
      In this course, students will game development fundamentals in JavaScript.
    </p>
    <br>
    <br>
    <h3><a class="button" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScujPKmgmS_sFF0qsiajvnU3mnNgKh1EAofqEp0Xn_yYnTPgg/viewform">Applications Open Now</a></h3>
    <br>
  </section>

  <section class="course-detail">
    <p>Have you wanted to build and share video games?</p>
    <p>Do you like problem solving, art, and design?</p>
    <p>
    <code>Sugar Cubed: JS Video Games</code> is a free, 12 week intermediate coding class for middle and high school students who identify as femme or female. This includes students who were not assigned female at birth and those who identify as femme, gender fluid, or gender non‐conforming. </p>
    <p>Students will learn the fundamentals of video game development and will build a 2-D video game in JavaScript on makecodearcade.com.</p>
    <p>Participants do NOT need prior game development experience OR a computer of their own to take this class.   Intro to JavaScript (data types, variables, conditionals, loops, and functions) (or equivalent) is a prerequisite for this class.</p>
    <p>This 12 week course meets at Do Space on Sundays from 1:00 pm - 4:00 pm, from January 12 - March 29.</p>

    <section class="example-game">
      <p><strong>Instructions</strong>: Use left and right arrows to control car.  Don't let it touch any side!</p>
      <div style="position:relative;height:0;padding-bottom:117.6%;overflow:hidden;max-width:48rem;margin: 0 auto;">
        <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://arcade.makecode.com/---run?id=_HKja1C82U7Wq" sandbox="allow-popups allow-forms allow-scripts allow-same-origin" frameborder="0">
        </iframe>
      </div>
    </section>

    <p>Email <a href="mailto: hello@mysterycodesociety.com" class="email">hello @ mysterycodesociety.com </a> for more information.</p>
    <p>
      Volunteers work one-on-one with the students in the classroom. Volunteers should know JavaScript, game development, or be willing to learn the curriculum.
    </p>
    <p>
    We ask that all participants adhere to our <a href="classroom-guidelines.html">Classroom Guidelines</a> and <a href="code-of-conduct.html">Code of Conduct</a> when participating in our programs.
    </p>
  </section>
</section>
