<header>
    <div class="shareomaha-banner">
        <a href="https://shareomaha.org/nonprofit/mystery-code-society"><img src="/assets/images/share_omaha_banner.png" alt="Share Omaha April 19 - 24" ></a>
    </div>
    <nav>
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
            listElement: "ul",
            listItemElement: "li",
            listClass: "",
            listItemClass: "",
            listItemHasChildrenClass: "dropdown",
            listItemHasParentClass: "dropdown-content",
            activeListItemClass: "",
            activeAnchorClass: "active",
            activeKey: eleventyNavigation.key,
            showExcerpt: false
        }) | safe }}
    </nav>
</header>