@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  background-color: #ffffdd;
  color: #154158;
}

h1 {
  font-size: 2.5em;
  white-space: nowrap;
}
h2 {
  font-size: 2em;
}

section.main {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.headline {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* placeholder from https://www.flickr.com/photos/122127718@N08/26495328891/ */
  background-image: url(images/vintage-book.jpg);
  background-size: cover;
  background-position-y: center;
  padding: 50px;
}
.headline img {
  width: 40%;
}
.headline .title {
  margin-top: 10%;
  margin-left: -20%;
  align-self: center;
  padding: 10px 20px;
  background-color: rgba(200, 200, 200, 0.8);
  box-shadow: 0 0 5px rgba(200, 200, 200, 0.8);
  border-radius: 5px;
}

.mission {
  align-self: center;
}
.mission p {
  font-size: 1.2em;
}

.board {
  position: relative;
}
.board img {
  width: 100%;
}
.board p {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(200, 200, 200, 0.8);
  box-shadow: 0 5px 5px rgba(200, 200, 200, 0.8);
  border-radius: 0 0 0 5px;
  font-size: 1.2em;
}


footer {
  background-color: #154158;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}
footer a {
  color: #ffffdd;
  text-decoration: none;
  padding: 10px;
}
footer a:hover, footer a:focus {
  border-color: rgba(200, 200, 200, 0.8);
  box-shadow: 0 0 5px rgba(200, 200, 200, 0.8);
  border-radius: 5px;
}
