@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@font-face {
  font-family: ‘Fontice-IconsFont’;
  src: url(‘../yourpath/Fontice-IconsFont.eot?v=1.0’);
  src: url(‘../yourpath/Fontice-IconsFont.eot?v=1.0#iefix’) format(’embedded-opentype’),
    url(‘../yourpath/Fontice-IconsFont.ttf?v=1.0’) format(‘truetype’),
    url(‘../yourpath/Fontice-IconsFont.woff?v=1.0’) format(‘woff’),
    url(‘../yourpath/Fontice-IconsFont.svg?v=1.0#Fontice-IconsFont’) format(‘svg’);
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  background-color: #ffffdd;
  color: #154158;
}

h1 {
  font-size: 2.5em;
  white-space: nowrap;
}
h2 {
  font-size: 2em;
}

header {
  display: flex;
  flex-direction: column;
}
header .headline {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* placeholder from https://www.flickr.com/photos/122127718@N08/26495328891/ */
  background-image: url(images/vintage-book.jpg);
  background-size: cover;
  background-position-y: center;
  padding: 50px;
}
header .headline img {
  width: 40%;
}
header .headline .title {
  margin-top: 10%;
  margin-left: -20%;
  align-self: center;
  padding: 10px 20px;
  background-color: rgba(200, 200, 200, 0.8);
  box-shadow: 0 0 5px rgba(200, 200, 200, 0.8);
  border-radius: 5px;
}

header .mission {
  align-self: center;
  margin: 50px;
}
header .mission p {
  font-size: 1.2em;
}

section.board {
  position: relative;
}
section.board img {
  width: 100%;
}
section.board p {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(200, 200, 200, 0.8);
  box-shadow: 0 5px 5px rgba(200, 200, 200, 0.8);
  border-radius: 0 0 0 5px;
  font-size: 1.2em;
}

section.about {
  margin: 50px;
}

footer {
  background-color: #154158;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}
footer a {
  color: #ffffdd;
  text-decoration: none;
  padding: 10px;
}
footer a:hover, footer a:focus {
  border-color: rgba(200, 200, 200, 0.8);
  box-shadow: 0 0 5px rgba(200, 200, 200, 0.8);
  border-radius: 5px;
}
