footer {
  background-color: var(--secondary-bg-color, #0476A3);
  color: var(--secondary-txt-color, #ffffff);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
  min-height: 40px;
  position: relative;
  bottom: 0;
  width: auto;
  left: 0;
  right: 0;
}

footer a.button {
  color: var(--secondary-txt-color, #ffffff);
  box-shadow: none;
  padding: 10px;
  line-height: 20px;
}

footer a.button:hover, footer a.bu:focus {
  box-shadow:  0 0 5px var(--secondary-background-color, rgba(200, 200, 200, 0.8));
  background-color: transparent;
}
