.headline {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* placeholder from https://www.flickr.com/photos/122127718@N08/26495328891/ */
  background-image: url(../images/vintage-book-muted.jpg);
  background-size: cover;
  background-position-y: center;
  padding: 90px 50px 50px;
}
.headline img {
  height: calc(100vh - 100px);
}
.headline .title {
  margin-top: 10%;
  margin-left: -30%;
  white-space: nowrap;
  align-self: center;
  padding: 10px 20px;
  background-color: rgba(200, 200, 200, 0.8);
  box-shadow: 0 0 5px rgba(200, 200, 200, 0.8);
  border-radius: 5px;
}

.about {
  margin: 50px;
}
.about {
  font-size: 1.2em;
}

.getconf-image {
  text-align: center;
  padding-bottom: 50px;
}