@media only screen and (min-width: 800px) {
  .name {
    margin: 4rem auto 0;
  }
}

.name {
  max-width: 70rem;
}

.headline {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  /* placeholder from https://www.flickr.com/photos/122127718@N08/26495328891/ */
  background-image: url(../images/vintage-book-muted.jpg);
  background-size: cover;
  background-position-y: center;
  padding: 90px 50px 50px;
}
.headline img {
  /*height: calc(100vh - 100px);*/
  max-width: 100%;
}
.headline .title {
  max-width: 100%;
  white-space: nowrap;
  align-self: center;
  padding: 0.5rem 1rem;
  background-color: var(--secondary-box-shadow-color, rgba(241, 241, 241, 0.8));
  box-shadow: 0 0 5px var(--secondary-box-shadow-color, rgba(241, 241, 241, 0.8));
  border-radius: 5px;
  white-space: pre-wrap;
  text-align: center;
}

.about {
  margin: 50px;
}
.about {
  font-size: 1.2em;
}

.getconf-image {
  text-align: center;
  padding-bottom: 50px;
}