section.main {
  margin-bottom: 0;
  position: relative;
}

img.flyer{
  display: block;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
}

.course-items > * {
  text-align: center;
}

.course-detail {
  padding-bottom: 10px;
}
.course-detail > p {
  padding: 10px;
}

.week {
  margin: 40px;
  padding: 20px;
  border: 2px dashed #154158;
  overflow: hidden;
}
