section.main {

  position: relative;
}

img {
  display: block;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.course-items > * {
  text-align: center;
}

