a {
  /* color: #e12a20; red, feels like too much */
  color: var(--main-txt-color, #0476A3);
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--main-txt-color-dark, #026494);
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-skip-ink: none;
}

a.button, .btn-primary {
  box-shadow: 0 0 5px var(--box-shadow-color, rgba(19, 140, 171, 0.8));
  border-radius: 5px;
  text-decoration: none;
  font-family: var(--secondary-font);
  padding: 20px;
  color: var(--main-txt-color, #0476A3);
}

a.button:hover, a.button:focus, .btn-primary:hover, .btn-primary:focus {
  background-color: var(--secondary-bg-color, #0476A3);
  color: var(--secondary-txt-color, #ffffff);
  text-decoration: none;
}
