@media only screen and (min-width: 800px) {
  #mission {
    position: fixed;
  }
}

#mission {
  top: 39px; /* 40px fudged up so background does not even slightly show through sections */
  transition: top 1.5s;
  z-index: 8;
  width: 100%;
  padding-top: 1em;
  background-color: var(--secondary-bg-color, #0476A3);
  color: var(--secondary-txt-color, #ffffff);
  font-size: 1em;
}
#mission > p {
  padding: 10px 20px 20px;
}
section.main { /* move down pages that include #mission */
  padding-top: 90px;
}
