nav:before {
  content: "";
  height: 30px;
  min-width: 40px;
  background-image: url("../images/red-hat-sunglasses.png");
  background-size: cover;
  margin: 5px;
}
nav {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--secondary-bg-color, #0476A3);
  box-shadow: 0 0 10px var(--secondary-bg-color, #0476A3);
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
}
nav > li {
  list-style-type: none;
  height: 20px;
}
nav li a {
  font-family: var(--secondary-font);
  line-height: 40px;
  color: var(--secondary-txt-color, #ffffff);
  padding: 10px;
}
nav li a:hover, nav li a:focus {
  color: var(--bg-highlight-color, #FFF5C2);
  text-decoration: none;
}
nav li a.active {
  color: var(--bg-highlight-color, #FFF5C2);
}

nav .dropdown {
  position: relative;
  display: inline-block;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--main-bg-color, #FFFBE7);
  box-shadow: 0 0 5px var(--secondary-bg-color, #0476A3);
  z-index: 9;
}

nav .dropdown:hover > .dropdown-content {
  display: block;
  top: 40px;
  min-width: 60px;
}

nav .dropdown-content ul {
  padding: 10px 0;
  margin: 0;
}

nav .dropdown-content li {
  list-style-type: none;
  white-space: nowrap;
  width: 100%;
}

nav .dropdown-content a {
  display: block;
  width: calc(100% - 10px);
  color: var(--main-txt-color, #0476A3);
  padding: 0 5px;
}
nav .dropdown-content a:hover, nav .dropdown-content a:focus {
  background-color: var(--bg-highlight-color, #FFF5C2);
  color: var(--main-txt-color, #0476A3);
}