nav:before {
  content: "";
  height: 30px;
  min-width: 40px;
  background-image: url("../images/red-hat-sunglasses.png");
  background-size: cover;
  margin: 5px;
}
nav {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #154158;
  box-shadow: 0 0 10px #154158;
  display: flex;
  z-index: 10;
}
nav > li {
  list-style-type: none;
  height: 20px;
  padding: 10px;
}
nav li a {
  font-family: 'Kavivanar', cursive;
  line-height: 20px;
  color: #ffffdd;
  padding: 5px;
}
nav li a:hover, nav li a:focus {
  color: #f7db54;
  text-decoration: none;
}
nav li a.active {
  color: #f7db54;
  box-shadow: none;
}