@media only screen and (min-width: 800px) {
  header {
    position: fixed;
  }
}
@media only screen and (max-width: 800px) {
  header:after { /* doubles nav height for mobile */
    content: "";
    height: 35px;
    width: 100%;
  }
}
.shareomaha-banner {
  margin: 0;
  height: 80px;
  background-color: var(--secondary-bg-color);
  background-image: url("/assets/images/share_omaha_banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

header {
  width: 100%;
  z-index: 10;
}
nav ul {
  list-style-type: none;
  top: 0;
  width: 100%;
  background-color: var(--secondary-bg-color, #0476A3);
  box-shadow: 0 0 10px var(--secondary-bg-color, #0476A3);
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
nav > li {
  list-style-type: none;
  height: 20px;
}
nav li a {
  font-family: var(--secondary-font);
  line-height: 40px;
  color: var(--secondary-txt-color, #ffffff);
  padding: 10px;
}
nav li:first-child a {
  padding: 0;
}

/* Paypal link donation */
nav li:last-child a {
  display: inline-block;
  line-height: unset;
}

nav li a:hover, nav li a:focus {
  color: var(--bg-highlight-color, #FFF5C2);
  text-decoration: none;
}
nav li a.active {
  color: var(--bg-highlight-color, #FFF5C2);
}

nav .dropdown ul li a.active {
  background-color: var(--bg-highlight-color);
  color: var(--main-txt-color);
}

nav .dropdown {
  position: relative;
  display: inline-block;
}

li.dropdown ul {
  display: none;
  position: absolute;
  background-color: var(--main-bg-color, #FFFBE7);
  box-shadow: 0 0 5px var(--secondary-bg-color, #0476A3);
  z-index: 9;
}

nav .dropdown:hover > ul {
  display: block;
  top: 40px;
  min-width: 60px;
  width: auto;
  padding: 10px 0;
  margin: 0;
}

nav .dropdown ul li {
  list-style-type: none;
  white-space: nowrap;
  width: 100%;
}

nav .dropdown ul a {
  display: block;
  width: calc(100% - 10px);
  color: var(--main-txt-color, #0476A3);
  padding: 0 5px;
}
nav .dropdown ul a:hover, nav .dropdown ul a:focus {
  background-color: var(--bg-highlight-color, #FFF5C2);
  color: var(--main-txt-color, #0476A3);
}

nav .red-hat-icon {
  height: 35px;
  margin: 5px;
  min-width: 40px;
}