.sponsor-levels-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.sponsor-levels-container > div {
  flex-basis: calc(50% - 44px);
  box-shadow: 0 0 5px rgba(19, 140, 171, 0.8);
  border-radius: 5px;
  margin: 20px;
}
.sponsor-levels-container > h3 {
  width: 100%;
  text-align: center;
}

.sponsor-levels-container h2 {
  font-size: 1.5em;
  background-color: var(--secondary-bg-color, #0476A3);
  box-shadow: 0 0 5px rgba(19, 140, 171, 0.8);
  color: var(--secondary-txt-color, #ffffff);
  padding: 10px;
}

.sponsor-levels-container p {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.2em;
}

.sponsors-container {
  display: flex;
  flex-wrap: wrap;
}

.sponsors-container > div {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.sponsors-container img {
  height: 120px;
}

.sponsors-container h2 {
  text-align: center;
}

.sponsors-container p {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.2em;
}