@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  background-color: #ffffdd;
  color: #154158;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}

p {
  padding: 10px;
}

ul {
  padding: 10px 40px;
}

a {
  color: rgb(19, 140, 171);
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

a.button {
  box-shadow: 0 0 5px rgba(19, 140, 171, 0.8);
  border-radius: 5px;
  text-decoration: none;
  padding: 20px;
}
a.button:hover, a.button:focus {
  background-color: rgb(19, 140, 171);
  color: #ffffdd;
  text-decoration: none;
}

section.main {
  margin: 50px;
  min-height: calc(100vh - (140px + 100px));
}
.main > h1 {
  width: 100%;
  text-align: center;
  white-space: nowrap;
}
.main > section {
  margin-bottom: 20px;
}
.main > .lead-statement {
  margin: 20px;
  padding: 10px;
  text-align: center;
}
.main > .lead-statement > p {
  padding: 0px;
}

footer {
  background-color: #154158;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  height: 40px;
}
footer a {
  color: #ffffdd;
  text-decoration: none;
  padding: 10px;
  font-size: 1em;
  line-height: 20px;
}
footer a:hover, footer a:focus {
  box-shadow: 0 0 5px rgba(200, 200, 200, 0.8);
  border-radius: 5px;
  text-decoration: none;
}
