@import url('https://fonts.googleapis.com/css?family=Roboto|Merriweather:300,300i,400,400i,700,700i,900,900i|Source+Code+Pro:200,300,400,500,600,700,900|Open+Sans+Condensed:300,300i,700');

:root {
  --main-bg-color: #FFFBE7;
  --main-txt-color: #0476A3;
  --main-txt-color-dark: #026494;
  --bg-highlight-color: #FFF5C2;
  --secondary-bg-color: #0476A3;
  --secondary-txt-color: #ffffff;
  --main-font: 'Merriweather', serif;
  --secondary-font: 'Roboto', sans-serif;
  --box-shadow-color: rgba(19, 140, 171, 0.8);
  --secondary-box-shadow-color: rgba(241, 241, 241, 0.8);
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  background-color: var(--main-bg-color, #FFFBE7);
  color: var(--main-txt-color, #0476A3);
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h1, h2, h4 {
  font-family: var(--secondary-font);
}

p {
  padding: 10px;
}

ul {
  padding: 10px 40px;
}

a {
  /* color: #e12a20; red, feels like too much */
  color: var(--main-txt-color, #0476A3);
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--main-txt-color-dark, #026494);
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-skip-ink: none;
}

a.button {
  box-shadow: 0 0 5px var(--box-shadow-color, rgba(19, 140, 171, 0.8));
  border-radius: 5px;
  text-decoration: none;
  font-family: var(--secondary-font);
  padding: 20px;
  color: var(--main-txt-color, #0476A3);
}

a.button:hover, a.button:focus {
  background-color: var(--secondary-bg-color, #0476A3);
  color: var(--secondary-txt-color, #ffffff);
  text-decoration: none;
}

section.main {
  padding-top: 40px;/* for nav */
  margin: 40px;
}

.main > h1 {
  width: 100%;
  text-align: center;
}

.main > section {
  margin-bottom: 20px;
}

.lead-statement {
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.lead-statement > p {
  padding: 0px;
}

footer {
  background-color: var(--secondary-bg-color, #0476A3);
  color: var(--secondary-txt-color, #ffffff);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
  min-height: 40px;
  position: relative;
  bottom: 0;
  width: auto;
  left: 0;
  right: 0;
}

footer a.button {
  color: var(--secondary-txt-color, #ffffff);
  box-shadow: none;
  padding: 10px;
  line-height: 20px;
}

footer a.button:hover, footer a.bu:focus {
  box-shadow:  0 0 5px var(--secondary-background-color, rgba(200, 200, 200, 0.8));
  background-color: transparent;
}

.callout-icon {
  float: left;
  height: 40px;
  margin-right: 10px;
}
