@import url('https://fonts.googleapis.com/css?family=Kavivanar|Merriweather:300,300i,400,400i,700,700i,900,900i|Source+Code+Pro:200,300,400,500,600,700,900|Open+Sans+Condensed:300,300i,700');

body {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  background-color: #ffffdd;
  color: #154158;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h1, h2, h4 {
  font-family: 'Kavivanar', cursive;
}

p {
  padding: 10px;
}

ul {
  padding: 10px 40px;
}

a {
  /* color: #e12a20; red, feels like too much */
  color: #00809d;
  text-decoration: none;
}
a:hover, a:focus {
  color: #e12a20;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-skip-ink: none;
}

a.button {
  box-shadow: 0 0 5px rgba(19, 140, 171, 0.8);
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Kavivanar', cursive;
  padding: 20px;
  color: #14618a;
}
a.button:hover, a.button:focus {
  background-color: rgb(19, 140, 171); /* #138cab */
  color: #ffffdd;
  text-decoration: none;
}

section.main {
  padding-top: 40px;/* for nav */
  margin: 40px;
  min-height: calc(100vh - (140px + 80px));
}
.main > h1 {
  width: 100%;
  text-align: center;
  white-space: nowrap;
}
.main > section {
  margin-bottom: 20px;
}

.lead-statement {
  margin: 20px;
  padding: 10px;
  text-align: center;
}
.lead-statement > p {
  padding: 0px;
}

footer {
  background-color: #154158;
  box-shadow: 0 0 10px #154158;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  height: 40px;
}
footer a.button {
  color: #ffffdd;
  box-shadow: none;
  padding: 10px;
  line-height: 20px;
}
footer a.button:hover, footer a.bu:focus {
  box-shadow:  0 0 5px rgba(200, 200, 200, 0.8);
  background-color: transparent;
}

.callout-icon {
  float: left;
  height: 40px;
  margin-right: 10px;
}