.applications {
  display: flex;
}
.applications h2 {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  align-items: center;
}

.applications h2  a.button {
  margin: 10px 0px;
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volunteers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.volunteers-container > .group-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}