:root {
  --instructor-bg-color: #e12a20;
  --ta-bg-color: #52B3CF;
  --speaker-bg-color: #ffde34;
  --organizer-bg-color: #0476A3;
}

.badge-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 2px;
}

.gwc-badge {
  color: black;
  text-align: center;
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
  width: 40px;
  height: 20px;
  line-height: 16px;
  position: relative;
}
.gwc-badge:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 10px solid;
}
.gwc-badge:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid;
}

.instructor {
  background: var(--instructor-bg-color, #e12a20);
  color: white;
}
.instructor:before {
  border-bottom-color: var(--instructor-bg-color, #e12a20);
}
.instructor:after {
  border-top-color: var(--instructor-bg-color, #e12a20);
}

.ta {
  background: var(--ta-bg-color, #52B3CF);
  color: #001b28;
}
.ta:before {
  border-bottom-color: var(--ta-bg-color, #52B3CF);
}
.ta:after {
  border-top-color: var(--ta-bg-color, #52B3CF);
}

.organizer {
  background: var(--organizer-bg-color, #0476A3);
  color: white;
}
.organizer:before {
  border-bottom-color: var(--organizer-bg-color, #0476A3);
}
.organizer:after {
  border-top-color: var(--organizer-bg-color, #0476A3);
}

.speaker {
  background: var(--speaker-bg-color, #ffde34);
  color: #001b28;
}
.speaker:before {
  border-bottom-color: var(--speaker-bg-color, #ffde34);
}
.speaker:after {
  border-top-color: var(--speaker-bg-color, #ffde34);
}
