.badge-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 2px;
}

.gwc-badge {
  color: black;
  text-align: center;
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
  width: 40px;
  height: 20px;
  line-height: 16px;
  position: relative;
}
.gwc-badge:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 10px solid;
}
.gwc-badge:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid;
}

.instructor {
  background: #e12a20;
  color: white;
}
.instructor:before {
  border-bottom-color: #e12a20;
}
.instructor:after {
  border-top-color: #e12a20;
}

.ta {
  background: #138cab;
  color: #001b28;
}
.ta:before {
  border-bottom-color: #138cab;
}
.ta:after {
  border-top-color: #138cab;
}

.organizer {
  background: #154158;
  color: white;
}
.organizer:before {
  border-bottom-color: #154158;
}
.organizer:after {
  border-top-color: #154158;
}

.speaker {
  background: #f7db54;
  color: #001b28;
}
.speaker:before {
  border-bottom-color: #f7db54;
}
.speaker:after {
  border-top-color: #f7db54;
}
