.applications {
  display: flex;
}
.applications h2 {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  align-items: center;
}

.applications h2  a.button {
  margin: 10px 0px;
}

.volunteers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
}

.bio-with-pic {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bio-no-pic {
  flex-basis: 25%;
  min-width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bio-pic {
  width: 140px;
  height: 140px;
  border-radius: 5px;
}
