---
layout: layouts/default.njk
title: Mystery Code Society | Calendar
date: 2016-01-01T00:00:00.000Z
permalink: /calendar/
eleventyNavigation:
  parent: Students
  key: Calendar
  order: 0
---

<section class="main top-spacer-150">
  <h1>Check Back Soon for Mystery Code Society's 2021 Season!</h1>
  <section class="lead-statement top-spacer-100">
    <p>
      Classroom computers are generously provided by our location sponsors.
      A home computer is not required to participate in our courses.
    </p>
  </section>
</section>
