---
layout: layouts/default.njk
title: Mystery Code Society | HTMelle
date: 2016-01-01T00:00:00.000Z
permalink: /htmelle/
eleventyNavigation:
  parent: Students
  key: Htmelle
  order: 2
---


<section class="main">
  <section class="course-items center-align">
    <h1>HTMelle</h1>
    <h3 class="class-desc">Build your own website!</h3>
    <h4><address><a href="https://omahalibrary.org/locations/OA/" target="_blank">Abrahams Public Library</a></address></h4>
    <h4>Saturdays, February 22 - March 28</h4>
    <h4>9:30am - 12:30pm</h4>

    <p>
      HTMelle is an introductory six week course for students in 5th - 12th grade. Students will learn to build websites with HTML and CSS.
    </p>
    <br>
    <br>
    <h3>
      <a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLScGMbsXo1g0DPHtc9TOfnVd1uN8g2inDSKSEr7MxadTWnkJGQ/viewform?usp=sf_link">Applications Open Now</a>
    </h3>
    <br>
  </section>

  <img src="/assets/images/htmelle_sm.jpg" alt="">

  <p>Have you ever wanted to build something?</p>
  <p>Code an app?</p>
  <p>Create a website?</p>
  <p>Make an app that really works!</p>

  <p>Introducing HTMelle, a free, introductory coding class at the Abrahams Branch Library for 5th grade through 12th grade students who identify as femme or female and are brand new to coding. This includes students who were not assigned female at birth and those who identify as femme, gender fluid, or gender non‐conforming. In this course, students will learn the basics of how to make web pages with HTML and CSS.</p>

  <p>This 6 week course meets on Saturdays from 9:30 am to 12:30 pm, February 22nd through March 28th.</p>

  <p>
    During this course, you will:
    <ul>
      <li>
        Learn HTML and CSS basics
      </li>
      <li>
        Use your new skills to create your own web pages
      </li>
    </ul>
  </p>

  <p>This application is due by Friday, February 14.</p>
</section>
