---
layout: layouts/default.njk
title: Mystery Code Society
date: 2016-01-01T00:00:00.000Z
permalink: /index.html
eleventyNavigation:
  key: <img class="red-hat-icon" src="/assets/images/red-hat-sunglasses.png">
  order: 0
---

<section id="mission">
  <p>Our Mission: To champion gender equity in tech through beginner and intermediate coding education for people of marginalized genders</p>
</section>

<section class="mission-page-main name">
  <div class="headline">
    <img id="footprint" src="assets/images/footprint.png" alt="" aria-hidden="true">
    <img src="assets/images/female-detective-binarymcs-padding.png" alt="logo">
    <div class="title">
      <h1>Mystery Code Society</h1>
      <h2>Tech and The Case of the <br>Missing Genders</h2>
    </div>
  </div>

  <p class="about">
    Mystery Code Society offers free, beginner to intermediate coding education to people of marginalized genders.
    Educational offerings include classes, workshops, meetups, and other educational events.
    Our focus is on students in 5th-12th grades but may include programs for people of marginalized genders of all ages.
  </p>

  <div class="board">
    <img src="assets/images/board-members.jpg" alt="board members">
  </div>
</section>
