---
layout: layouts/default.njk
title: Mystery Code Society | Mission
date: 2016-01-01T00:00:00.000Z
permalink: /mission-faq/
eleventyNavigation:
  key: Mission
  order: 1
---


<section id="mission">
  <p>Our Mission: To champion gender equity in tech through beginner and intermediate coding education for women, femmes, and non-men</p>
</section>

<section class="mission-page-main main">
  <h1>Mystery Code Society Mission Statement FAQ</h1>

  <section class="faq-container">
    <div>
      <h2>What is gender equity? Is that the same as equality?</h2>
      <p>Equity is not equality.</p>
      <p>
        Equity means giving enough for everyone be successful.
        Equity does not mean equal or fair, but what is just, considering that distribution of privileges, rights, and access has not been equal for a long time.
        Equity might mean that underrepresented and marginalized groups need more than the currently privileged in order to be successful.
      </p>
      <p>
        Gender equity means giving enough for people of all genders to be successful.
      </p>
    </div>

    <div>
      <h2>What ages of students do you accept?</h2>
      <p>
        Currently, most of our programs are aimed at students in 6th-12th grade,
        because we believe with our current resources, we can do the most good with students at that age.
        But it may vary by program.
      </p>

    </div>

    <div>
      <h2>Can nonbinary and trans students participate?</h2>
      <p>We welcome nonbinary students. Trans women are women, and we welcome women into our program.</p>
    </div>

    <div>
      <h2>Why do you specify "women, femmes, and non-men"? What is the difference?</h2>
      <p>
        Because our aim is to achieve gender equity in tech, our organization is by and for anyone
        who does not receive privilege from their gender identity and/or expression 
        (i.e. any group that does not currently have gender equity).
      </p>
      <p>
        This includes anyone (cis and trans) who identifies as a woman, men who identify as femme,
        and anyone who does not identify as a man (non-men), including nonbinary people and
        gender nonconforming people who prefer no labels or labels we have not mentioned.
      </p>
      <p>
        Although some of these terms are overlapping, we want to make sure the students that we serve
        feel represented in our mission.
      </p>
    </div>
  </section>
<section class="main">
