---
layout: layouts/default.njk
title: Mystery Code Society | Student Projects
date: 2016-01-01T00:00:00.000Z
permalink: /student-projects/
eleventyNavigation:
  parent: Students
  key: Student Projects
  order: 4
---

<section class="main">
  <h1>Student Projects</h1>

  <section class="student-projects-container">
  <div class="project">
      <h3>How To Make Chocolate Chip Cookies</h3>
      <h4 class="sub-club">HTMelle - Lilly</h4>
      <a href="https://codepen.io/lillydoke/project/full/AjYQOz" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/htmelle-lilly.png')">
        </div>
      </a>
    </div>

  <div class="project">
      <h3>All About You Survey</h3>
      <h4 class="sub-club">HTMelle - Ridhvhi</h4>
      <a href="https://codepen.io/RidhviN/pen/mdmPjNJ
      " target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/htmelle-ridhvi.png')">
        </div>
      </a>
    </div>

  <div class="project">
      <h3>Save The Turtles</h3>
      <h4 class="sub-club">HTMelle - Saashvi</h4>
      <a href="https://codepen.io/saashvi/full/mdmPYNQ" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/htmelle-saashvi.png')">
        </div>
      </a>
    </div>

  <div class="project">
      <h3>How To Make A Burrito</h3>
      <h4 class="sub-club">HTMelle - Jamison</h4>
      <a href="https://codepen.io/JamoMonkey/full/yLbOjvR" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/htmelle-jameson.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>About Super Mario</h3>
      <h4 class="sub-club">HTMelle - Jessica</h4>
      <a href="https://codepen.io/mysterycodesociety/pen/PXoKvw" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/htmelle-jessica.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Embroidery Bracelets</h3>
      <h4 class="sub-club">HTMelle - Victoria</h4>
      <a href="https://codepen.io/mysterycodesociety/pen/vvYJMw" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/htmelle-victoria.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Flares Characters</h3>
      <h4 class="sub-club">HTMelle - Lauren</h4>
      <a href="https://codepen.io/mysterycodesociety/pen/VqwzRg" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/htmelle-lauren.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Top Tech</h3>
      <h4 class="sub-club">HTMelle - Nikita</h4>
      <a href="https://codepen.io/mysterycodesociety/pen/wRvqZK" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/htmelle-nikita.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Horses</h3>
      <h4 class="sub-club">HTMelle - Shyanna</h4>
      <a href="https://codepen.io/mysterycodesociety/pen/eQdpYQ" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/htmelle-shyanna.png')">
        </div>
      </a>
    </div>
  </section>

  <hr>

  <section class="student-projects-container">
    <div class="project">
      <h3>Gaming: What Not To Do in a Story</h3>
      <h4 class="sub-club">HTMelle - Mira</h4>
      <a href="https://codepen.io/AmamiKiri/pen/KXdMvX/" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/htmelle-mira.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Dog Breeds</h3>
      <h4 class="sub-club">HTMelle - Neveah</h4>
      <a href="https://codepen.io/YamiKoi/pen/GMNMpp" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/htmelle-neveah.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Poetry and Their Authors</h3>
      <h4 class="sub-club">HTMelle - Brooklyn</h4>
      <a href="https://codepen.io/BrooklynnJ/pen/ZXBGYo" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/htmelle-brooklyn.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Inspirations</h3>
      <h4 class="sub-club">HTMelle - Sandi</h4>
      <a href="https://codepen.io/sandikbarr/pen/RLoJPw/" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/htmelle-sandi.png')">
        </div>
      </a>
    </div>
  </section>

  <hr>

  <section class="student-projects-container">
    <div class="project">
      <h3>Scoop 'N Smiles</h3>
      <h4 class="sub-club">SheQL - April &amp; Paige</h4>
      <a href="https://scoop-n-smiles.herokuapp.com/graduation" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/april_paige_scoop_n_smiles.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>We-b-3</h3>
      <h4 class="sub-club">SheQL - Emma</h4>
      <a href="https://we-b-3.herokuapp.com/graduation" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/emma_we-b-3.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Catnips</h3>
      <h4 class="sub-club">SheQL - Hailey</h4>
      <a href="https://catnips.herokuapp.com/graduation" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/hailey_catnips.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Anti Social</h3>
      <h4 class="sub-club">SheQL - Julie</h4>
      <a href="https://julie-anti-social.herokuapp.com/graduation" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/julie_anti_social.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Find Food</h3>
      <h4 class="sub-club">SheQL - Lauren</h4>
      <a href="https://lauren-find-food.herokuapp.com/graduation" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/lauren_find_food.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Writer's Hub</h3>
      <h4 class="sub-club">SheQL - Natalia</h4>
      <a href="https://pythagreontheorem-writers-hub.herokuapp.com/graduation" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/natalia_writers_hub.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Translation App</h3>
      <h4 class="sub-club">SheQL - Ramya</h4>
      <a href="https://ramya-translation-app.herokuapp.com/graduation" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/ramya_translation_app.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>NHS Hours</h3>
      <h4 class="sub-club">SheQL - Tera &amp; Grace</h4>
      <a href="https://nhs-hours.herokuapp.com/graduation" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/tera_grace_nhs_hours.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Travel Onward</h3>
      <h4 class="sub-club">SheQL - Victoria</h4>
      <a href="https://travel-onward.herokuapp.com/graduation" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/victoria_travel_onward.png')">
        </div>
      </a>
    </div>
  </section>

  <hr>

  <section class="student-projects-container">
    <div class="project">
      <h3>Slime Game</h3>
      <h4 class="sub-club">Sugar Cubed - Claire</h4>
      <a href="https://sugar-cubed-iaclairebear.herokuapp.com/index.html" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/sugar-cubed-iaclairebear.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>The Hopping Alien and Sliding Slimes</h3>
      <h4 class="sub-club">Sugar Cubed - Anjali</h4>
      <a href="https://sugar-cubed-puppiesanjali.herokuapp.com/" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/sugar-cubed-puppiesanjali.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Arena Fight</h3>
      <h4 class="sub-club">Sugar Cubed - Lauren</h4>
      <a href="https://sugar-cubed-laurenr.herokuapp.com/" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/sugar-cubed-lauren.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Sugar Cubed Game</h3>
      <h4 class="sub-club">Sugar Cubed - Julie</h4>
      <a href="https://sugar-cubed-jewlsorthman.herokuapp.com/" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/sugar-cubed-julie.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Alien VS Slime</h3>
      <h4 class="sub-club">Sugar Cubed - Chloe</h4>
      <a href="https://sugar-cubed-ggchloee.herokuapp.com/" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/sugar-cubed-chloe.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Slime Arena</h3>
      <h4 class="sub-club">Sugar Cubed - Apurva</h4>
      <a href="https://sugar-cubed-bluecupcakes17.herokuapp.com/" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/sugar-cubed-apurva.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Slime Armageddon</h3>
      <h4 class="sub-club">Sugar Cubed - Natalia</h4>
      <a href="https://sugar-cubed-pythagreontheorem.herokuapp.com/" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/sugar-cubed-natalia.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Make Your Own Apocalypse</h3>
      <h4 class="sub-club">Sugar Cubed - Nevaeh</h4>
      <a href="https://sugar-cubed-yamikoi.herokuapp.com/" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/sugar-cubed-nevaeh.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Jayfeather's Stick Save</h3>
      <h4 class="sub-club">Sugar Cubed - Hailey</h4>
      <a href="https://sugar-cubed-lemon82.herokuapp.com/" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/sugar-cubed-hailey.png')">
        </div>
      </a>
    </div>
  </section>

  <hr>

  <section class="student-projects-container">
    <div class="project">
      <h3>Local Rainbows</h3>
      <h4 class="sub-club">Middle School Abrahams Branch - Spring 2016</h4>
      <a href="http://omahagirlswhocode.com/LocalRainbows" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/giphy-club.png')">
        </div>
      </a>
      <p>Local Rainbows wants to show people in the LGBTQIA community that they aren't alone and that most coming out stories of the folks of the acronym have a "happy ending" to say. We also want to inform everybody the meaning of the acronym, and give
        a brief explanation on what the letter means, not just the word. We made this website because we want to give the LGBTQIA community a larger voice in the world.</p>
    </div>

    <div class="project">
      <h3>Tech Around O</h3>
      <h4 class="sub-club">High School Abrahams Branch - Spring 2016</h4>
      <a href="http://omahagirlswhocode.com/TechAroundO" target="_blank">
        <div class="project-img" style="background-image:url('/assets/images/projects/tech-around-o.png')">
        </div>
      </a>
      <p>Tech Around O! is the baby of the inaugural Omaha Girls Who Code high school group. It's goal is to show the youth of Omaha a glimpse into the local tech scene. You can explore profiles of people in Omaha who are involved in tech, learn about
        Omaha tech hot spots, play an awesome tech game, or even read profiles on us, the creators of the site! So go and see the Tech Around O!</p>
    </div>
  </section>

  <hr>

  <section class="student-projects-container">
    <div class="project">
      <h3>Luigi</h3>
      <h4 class="sub-club">HTMelle Masters 2019 - Jessica</h4>
      <a href="https://jessiemcs.github.io/whatevenareyou/" target="_blank">
        <div 
          class="project-img" 
          style="background-image:url('/assets/images/projects/htmelle-masters-2019/htmelle-masters-jessica.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>This Thing</h3>
      <h4 class="sub-club">HTMelle Masters 2019 - Lauren</h4>
      <a href="https://laurenroberts.github.io/thisThing/" target="_blank">
        <div
          class="project-img"
          style="background-image:url('/assets/images/projects/htmelle-masters-2019/htmelle-masters-lauren.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Top Tech</h3>
      <h4 class="sub-club">HTMelle Masters 2019 - Nikita</h4>
      <a href="https://nikitaluna.github.io/top-tech/" target="_blank">
        <div
          class="project-img"
          style="background-image:url('/assets/images/projects/htmelle-masters-2019/htmelle-masters-nikita.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>VC Bracelets</h3>
      <h4 class="sub-club">HTMelle Masters 2019 - Victoria</h4>
      <a href="https://victoriach231.github.io/HTMelle-project/" target="_blank">
        <div
          class="project-img"
          style="background-image:url('/assets/images/projects/htmelle-masters-2019/htmelle-masters-victoria.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Fortnite</h3>
      <h4 class="sub-club">HTMelle Masters 2019 - Ja'Leah</h4>
      <a href="https://jcarter2590.github.io/fortnite/" target="_blank">
        <div
          class="project-img"
          style="background-image:url('/assets/images/projects/htmelle-masters-2019/htmelle-masters-jaleah.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Yeet</h3>
      <h4 class="sub-club">HTMelle Masters 2019 - Neveah</h4>
      <a href="https://elmoandbailey.github.io/Elmo/" target="_blank">
        <div
          class="project-img"
          style="background-image:url('/assets/images/projects/htmelle-masters-2019/htmelle-masters-neveah.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>MNGirlUp</h3>
      <h4 class="sub-club">HTMelle Masters 2019 - Anjali</h4>
      <a href="https://anjalijayan415.github.io/MNGirlUp/" target="_blank">
        <div
          class="project-img"
          style="background-image:url('/assets/images/projects/htmelle-masters-2019/htmelle-masters-anjali.png')">
        </div>
      </a>
    </div>

    <div class="project">
      <h3>Scabby Ghouls</h3>
      <h4 class="sub-club">HTMelle Masters 2019 - Jae</h4>
      <a href="https://jewlsorthman.github.io/scabby-ghouls/" target="_blank">
        <div
          class="project-img"
          style="background-image:url('/assets/images/projects/htmelle-masters-2019/htmelle-masters-jae.png')">
        </div>
      </a>
    </div>
  </section>
</section>
