---
layout: "default"
title: Mystery Code Society | Volunteer
date: 2016-01-01T00:00:00.000Z
permalink: /volunteer/
eleventyNavigation:
  key: Volunteer
  order: 3
---

<section class="main">
  <h1>Volunteer with Mystery Code Society</h1>

  <section class="lead-statement">
    <p>
    We could not put on the quality programming that Mystery Code Society offers without our helpful volunteers.
    </p>
  </section>

  <section>
    <div class="applications">
      <h2>
        <span>Fill out our</span>
        <a class="button" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfiXbaRGe5WPswOJRKtn3ZshgzTu4TrTPkp-cEBITJJnRH56A/viewform">Volunteer Interest Survey</a>
      </h2>
    </div>
  </section>

  <section>
    <p>
    We ask that all of our volunteers adhere to our <a href="/code-of-conduct/">Code of Conduct</a>
    and conduct themselves in a manner in accordance with our <a href="/classroom-guidelines/">Classroom Guidelines</a>.
    Please review and familiarize yourself with these materials if you would like to volunteer with us.
    </p>
  </section>

  <hr>

  <section>
    <section class="lead-statement">
      <h2>Board of Directors</h2>
      <p>
      Our board members are nominated by committee and elected biennially. We have 4-10 board members including four officer positions.
      All Directors and members of the Advisory Council, Nominating Committee, and Grievance/Code of Conduct Committees must be approved by a majority vote of the active Directors.
      </p>
    </section>

    <div class="volunteers-container">
      <div>
        <div class="bio-with-pic">
          <img class="bio-pic" src="/assets/images/volunteers/hauwa.jpg" alt="Hauwa Muibi headshot">
          <h3>Hauwa Muibi</h3>
          <h4>President</h4>
          <div class="badge-container">
            <div class="gwc-badge ta">[TA]</div>
            <div class="gwc-badge speaker">"S"</div>
            <div class="gwc-badge organizer">&lt;O&gt;</div>
          </div>
        </div>
      </div>

      <div>
        <div class="bio-with-pic">
          <img class="bio-pic" src="/assets/images/volunteers/grace.jpg" alt="Grace Erixon headshot">
          <h3>Grace Erixon</h3>
          <h4>Vice President</h4>
          <div class="badge-container">
            <div class="gwc-badge instructor">{I}</div>
            <div class="gwc-badge ta">[TA]</div>
            <div class="gwc-badge organizer">&lt;O&gt;</div>
          </div>
        </div>
      </div>

      <div>
        <div class="bio-with-pic">
          <img class="bio-pic" src="/assets/images/volunteers/laurenp.png" alt="Lauren Phipps headshot">
          <h3>Lauren Phipps</h3>
          <h4>Secretary</h4>
          <div class="badge-container">
            <div class="gwc-badge ta">[TA]</div>
            <div class="gwc-badge organizer">&lt;0&gt;</div>
          </div>
        </div>
      </div>

      <div>
        <div class="bio-with-pic">
          <img class="bio-pic" src="" alt="Mary Clare Rogers headshot">
          <h3>Mary Clare Rogers</h3>
          <h4>Treasurer</h4>
          <div class="badge-container">
            <div class="gwc-badge organizer">&lt;O&gt;</div>
          </div>
        </div>
      </div>
    </div>

    <div class="volunteers-container">
      <div>
        <div class="bio-with-pic">
          <img class="bio-pic" src="/assets/images/volunteers/melinda.jpg" alt="Melinda Deinert headshot">
          <h3>Melinda Deinert</h3>
          <h4>Board Member</h4>
          <div class="badge-container">
            <div class="gwc-badge ta">[TA]</div>
            <div class="gwc-badge organizer">&lt;O&gt;</div>
          </div>
        </div>
      </div>

      <div>
        <div class="bio-with-pic">
          <img class="bio-pic" src="/assets/images/volunteers/lingli.jpg" alt="Lingli Gan headshot">
          <h3>Lingli Gan</h3>
          <h4>Board Member</h4>
          <div class="badge-container">
            <div class="gwc-badge instructor">{I}</div>
            <div class="gwc-badge organizer">&lt;O&gt;</div>
          </div>
        </div>
      </div>

      <div>
        <div class="bio-with-pic">
          <img class="bio-pic" src="/assets/images/volunteers/wendy-pic.jpg" alt="Wendy Holley headshot">
          <h3>Wendy Holley</h3>
          <h4>Board Member</h4>
          <div class="badge-container">
            <div class="gwc-badge instructor">{I}</div>
            <div class="gwc-badge ta">[TA]</div>
            <div class="gwc-badge organizer">&lt;O&gt;</div>
          </div>
        </div>
      </div>

      <div>
        <div class="bio-with-pic">
          <img class="bio-pic" src="/assets/images/volunteers/autumn.jpg" alt="Autumn Rodeheaver headshot">
          <h3>Autumn Rodeheaver</h3>
          <h4>Board Member</h4>
          <div class="badge-container">
            <div class="gwc-badge organizer">&lt;O&gt;</div>
          </div>
        </div>
      </div>

      <div>
        <div class="bio-with-pic">
          <img class="bio-pic" src="/assets/images/volunteers/biancaz.jpg" alt="Bianca Zongrone Jefferson headshot">
          <h3>Bianca Zongrone Jefferson</h3>
          <h4>Board Member</h4>
          <div class="badge-container">
            <div class="gwc-badge ta">[TA]</div>
            <div class="gwc-badge speaker">"S"</div>
            <div class="gwc-badge organizer">&lt;O&gt;</div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section>
    <section class="lead-statement">
      <h2>Advisory Board</h2>
      <p>

      </p>
    </section>
    <div class="volunteers-container">
      <div>
        <div class="bio-with-pic">
          <img class="bio-pic" src="/assets/images/volunteers/trishag.jpg" alt="Trish Gawley headshot">
          <h3>Trisha Gawley</h3>
          <div class="badge-container">
            <div class="gwc-badge instructor">{I}</div>
            <div class="gwc-badge ta">[TA]</div>
            <div class="gwc-badge speaker">"S"</div>
            <div class="gwc-badge organizer">&lt;O&gt;</div>
          </div>
        </div>
      </div>

      <div>
        <div class="bio-with-pic">
          <img class="bio-pic" src="/assets/images/volunteers/tawanna.jpg" alt="Tia J. headshot">
          <h3>Tia J.</h3>
          <div class="badge-container">
            <div class="gwc-badge ta">[TA]</div>
            <div class="gwc-badge organizer">&lt;O&gt;</div>
          </div>
        </div>
      </div>

      <div>
        <div class="bio-with-pic">
          <img class="bio-pic" src="/assets/images/volunteers/oge.png" alt="Ogeoma Mbaraonye headshot">
          <h3>Ogeoma Mbaraonye</h3>
          <div class="badge-container">
            <div class="gwc-badge organizer">&lt;O&gt;</div>
          </div>
        </div>
      </div>

      <div>
        <div class="bio-with-pic">
          <img class="bio-pic" src="/assets/images/volunteers/stefanie.jpg" alt="Stefanie Monge headshot">
          <h3>Stefanie Monge</h3>
          <div class="badge-container">
            <div class="gwc-badge organizer">&lt;O&gt;</div>
          </div>
        </div>
      </div>

      <div>
        <div class="bio-with-pic">
          <img class="bio-pic" src="/assets/images/volunteers/jessica.jpg" alt="Jessica Selde headshot">
          <h3>Jessica Selde</h3>
          <div class="badge-container">
            <div class="gwc-badge organizer">&lt;O&gt;</div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section>
    <section class="lead-statement">
      <h2>Code of Conduct Committee</h2>
      <p>
      </p>
    </section>

    <div class="volunteers-container">
      <div>
        <div class="bio-with-pic">
          <img class="bio-pic" src="/assets/images/volunteers/alexandram.jpg">
          <h3>Alexandra Millatmal</h3>
        </div>
        </div>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <section class="lead-statement">
      <h2>Volunteers</h2>
      <p>Our volunteers are a huge part of our programs' success. Thanks for all you do!</p>
    </section>

    <div class="volunteers-container">

      <div class="bio-with-pic">
        <img class="bio-pic" src="/assets/images/volunteers/amanda.jpg" alt="Amanda Martinez">
        <h3>Amanda Martinez</h3>
        <div class="badge-container">
          <div class="gwc-badge instructor">{I}</div>
          <div class="gwc-badge organizer">&lt;O&gt;</div>
        </div>
      </div>


      <div class="bio-with-pic">
        <img class="bio-pic" src="/assets/images/volunteers/ciprianna.jpg" alt="Ciprianna Engel">
        <h3>Ciprianna Engel</h3>
        <div class="badge-container">
          <div class="gwc-badge instructor">{I}</div>
        </div>
      </div>

      <div class="bio-with-pic">
        <img class="bio-pic" src="/assets/images/volunteers/laurenr.jpg" alt="Lauren Roberts headshot">
        <h3>Lauren Roberts</h3>
        <div class="badge-container">
          <div class="gwc-badge ta">[TA]</div>
        </div>
      </div>

      <div class="bio-with-pic">
        <img class="bio-pic" src="/assets/images/volunteers/andrew.jpg" alt="Andrew Yolland headshot">
        <h3>Andrew Yolland</h3>
        <div class="badge-container">
          <div class="gwc-badge ta">[TA]</div>
          <div class="gwc-badge organizer">&lt;O&gt;</div>
        </div>
      </div>

    </div>
  </section>
</section>
