<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{{title}}</title>
    {% include head.liquid %}
  </head>
  <body>
    {% include nav.liquid %}

    <main>
      {{ content }}
    </main>

    {% include footer.liquid %}
  </body>
</html>
