<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{{title}}</title>
    {% include "head.liquid" %}
  </head>
  <body>
    {% include "nav.njk" %}

    <main>
      <article>
        <h1>{{ title }}</h1>
        <p>
          <small>
            <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by {{ metadata.author.name }}
          </small>
        </p>

        {{ content | safe }}



        {% if tags %}
          <p>
          {% for tag in tags %}
            {%- if tag != "post" -%}
              {% set tagUrl %}/tags/{{ tag }}/{% endset %}
              <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
            {%- endif -%}
          {% endfor %}
          </p>
        {% endif %}
      </article>
    </main>

    {% include "footer.liquid" %}
  </body>
</html>
